<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAlOqpDlg827rwEtv1KalQRk0MgLLFKtSM</string>
	<key>GCM_SENDER_ID</key>
	<string>1023280359844</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aramaApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dgnarama</string>
	<key>STORAGE_BUCKET</key>
	<string>dgnarama.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023280359844:ios:7b76c6e947bb75b7d2b931</string>
</dict>
</plist>